<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <link href='https://fonts.googleapis.com/css?family=Chivo:900' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="stylesheets/stylesheet.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="stylesheets/pygment_trac.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="stylesheets/print.css" media="print" />
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script type="text/javascript" 
      src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.1/angular.min.js"></script>
    <script type="text/javascript" 
      src="https:/cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.js"></script>

    <!-- read results to window.raw_test_data
    <script type="text/javascript" 
      src="https://rawgit.com/elhigu/opencl-testsuite/master/resultdb/test_results.json.js"></script>
    -->

    <script>
      var app = angular.module("app", [])
      app.config(['$httpProvider', function($httpProvider) {
        delete $httpProvider.defaults.headers.common["X-Requested-With"];
      }]);

      var json_results_url = 'https://rawgit.com/elhigu/opencl-testsuite/master/resultdb/test_results.json';

      app.controller("AppCtrl", function ($scope, $http) {

        var createTestResults = function (data) {
          var devices = [];
          _.each(data, function (device, hash_code) {
            var device_info = device.deviceInfo;

            // organize test runs in time order and create some run stats
            var test_runs = _.sortBy(_.map(device.results, function (test_run, run_date) {
              return {
                'runDate' : new Date(test_run['date']),
                'totalTests' : test_run.tests.length,
                'passedTests' : _.filter(test_run.tests, { 'result' : 'PASS' }).length,
                'details' : test_run.tests
              };
            }), 'runDate');

            devices.push({ device: device_info, tests : test_runs });
          })

          $scope.result_json = _.sortBy(devices, function (value) { 
            return [value.device.platformName, value.device.deviceName]; 
          });

          // go through platform / driver combinations and create summary of results
          // of all drivers of platform
          var platforms = {};
          _.each($scope.result_json, function (item) {
            if (!platforms[item.device.platformName]) {
              platforms[item.device.platformName] = { "name" : item.device.platformName, "drivers" : {} };
            }
            var platform = platforms[item.device.platformName];
            if (!platform.drivers[item.device.driverVersion]) {
              platform.drivers[item.device.driverVersion] = { "version" : item.device.driverVersion, "devices": {}, "lastRun" : null, "runDevice" : ""};
            }
            
            var driver = platform.drivers[item.device.driverVersion];
            driver['devices'][item.device.deviceName] = true;
            var lastRun = _.last(item.tests);

            // collect test results if results are more recent than the last ones
            if (driver.lastRun === null || driver.lastRun.runDate < lastRun.runDate) {
              driver.lastRun = lastRun;
              driver.runDevice = item.device;
            }
          });

          var finalPlatforms = _.sortBy(platforms, 'name');
          _.each(finalPlatforms, function (item) {
            item.drivers = _.sortBy(item.drivers, 'version');
            _.each(item.drivers, function (driver) {
              driver.devices = _.keys(driver.devices);
            });
          });
          $scope.summary_json = finalPlatforms;
          console.log("Summary:", $scope.summary_json);
        };

        // request data from github repo
        $http({method: 'GET', url: json_results_url})
        .success(function(data, status, headers, config) {
          createTestResults(data);
        })
        .error(function(data, status, headers, config) {
          console.log("Could not read JSON. Please mail to mikael.lepisto@vincit.fi");
        });

        // in case if data loaded as plain JSON.js script
        // createTestResults(window.raw_test_data);

        // Action callbacks
        $scope.showDetails = function (device_info, test_run) {
          $scope.details_view = { device : device_info, test_run : test_run};
        };
        $scope.closeDetails = function () {
          $scope.details_view = null;
        };
      });
    </script>
    <title>The OpenCL Test Suite</title>
  </head>

<body>
<div id="container">
<div class="inner">

<header>
<h1>OpenCL Test Suite</h1>
<h2>Collection of OpenCL kernels, which are known to fail on some drivers. Cross platform (Visual Studio,Xcode,clang,gcc).</h2>
</header>

<section id="downloads" class="clearfix">
<a href="https://github.com/elhigu/opencl-testsuite/zipball/master" id="download-zip" class="button"><span>Download .zip</span></a>
<a href="https://github.com/elhigu/opencl-testsuite/tarball/master" id="download-tar-gz" class="button"><span>Download .tar.gz</span></a>
<a href="https://github.com/elhigu/opencl-testsuite" id="view-on-github" class="button"><span>View on GitHub</span></a>
</section>

<hr>

<section id="main_content">
<h1><a name="opencl-testsuite" class="anchor" href="#opencl-testsuite"><span class="octicon octicon-link"></span></a>Motivation</h1>

<p>This project was created to provide information and simple test cases to OpenCL driver vendors about situations where code created by WebCL to OpenCL translator <a href="https://github.com/KhronosGroup/webcl-validator">https://github.com/KhronosGroup/webcl-validator</a> does not work expectedly.</p>

<p>To run test suite by your self, check readme from repository <a href="https://github.com/elhigu/opencl-testsuite">https://github.com/elhigu/opencl-testsuite</a></p>

<h3>Contribute</h3>

<p>It is really easy to run tests on yor platform and submit reports to this page. Just check out the code and...<br/>
1. <code>cmake ../opencl-testsuite</code><br/>
2. <code>make check</code><br/>
3. <code>make send-report</code>
</p>

<p>Have you found some strange behavior with some OpenCL drivers? Please write reduced test case and we will add it to the test suite.</p>

<h1>
<a name="results" class="anchor" href="#results"><span class="octicon octicon-link"></span></a>Results</h1>

<p><strong>DISCLAIMER:</strong> These results <b>does not reflect any kind of goodness or badness</b> of different OpenCL implementations. Reason why there are lots of fails for certain drivers is that we have just debugged our OpenCL code with these drivers and added test cases which specifically fails on certain platform. It is even possible that some test cases are invalid and in that case we will gladly fix them and accept pull requests.</p>

<p>Test cases are designed to help vendors to reproduce some problems that users has encountered.</p>

</section>

  <div ng-cloak ng-app="app" ng-controller="AppCtrl"> <!-- angular app starts -->

    <!-- Summary view -->
    <h3>Summary</h3>
    This section contains the last test run result for platform's each driver.  
    <div class="clearfix device-row" ng-repeat="platform in summary_json">
      <h4>{{platform.name}}</h4> 
      <div ng-repeat="driver in platform.drivers">
        <div class="summary-driver">
          <strong>Driver: </strong><span>{{driver.version}}</span>
          <span class="test-result" ng-class="{fail: driver.lastRun.passedTests != driver.lastRun.totalTests}">
            Passed: {{driver.lastRun.passedTests}} / {{driver.lastRun.totalTests}}
            <span ng-show="driver.lastRun.passedTests != driver.lastRun.totalTests">FAIL</span>
          </span>
          (<strong>Devices:</strong> <span ng-repeat="device in driver.devices">{{device}}</span>)
          
        </div>
        <div class="summary-driver-results">
          <strong>Last run:</strong> <span class="run-date">{{driver.lastRun.runDate | date:'medium'}}</span>
          <strong>With:</strong> <span>{{driver.runDevice.deviceName}}</span>
          <a ng-click="showDetails(driver.runDevice, driver.lastRun)">Details</a>
        </div>
      </div>
    </div>

    <!-- Result view -->
    <h3>All results</h3>
    <div class="clearfix device-row" ng-repeat="device in result_json">
      <div class="device-info">
        <strong>{{device.device.platformName}}</strong><br/>
        <strong>{{device.device.deviceName}}</strong><br/>
        Platform version: {{device.device.platformVersion}}<br/>
        Driver version: {{device.device.driverVersion}}<br/>
        Device version: {{device.device.deviceVersion}}<br/>
        OpenCLC version: {{device.device.openCLCVersion}}
      </div>
      <div class="test-run" ng-repeat="test_run in device.tests">
        {{test_run.runDate | date:'medium'}}<br/>
        Passed: {{test_run.passedTests}} / {{test_run.totalTests}}<br/>
        <a ng-click="showDetails(device.device, test_run)">Details</a>
      </div>
    </div>

    <!-- Details dialog -->
    <div class="details-view modal" ng-show="details_view">
      <div class='modal-overlay' ng-click='closeDetails()'></div>      
        <div class='modal-dialog'>
          <div class='modal-close' ng-click='closeDetails()'>X</div>
          <div class='modal-dialog-content'>
            <div class="device-info">
              <strong>{{details_view.device.platformName}} / {{details_view.device.deviceName}}</strong><br/>
              Platform version: {{details_view.device.platformVersion}}<br/>
              Driver version: {{details_view.device.driverVersion}}<br/>
              Device version: {{details_view.device.deviceVersion}}<br/>
              OpenCLC version: {{details_view.device.openCLCVersion}}
            </div>
            <div class="test-run-info">
              {{details_view.test_run.runDate | date:'medium'}}<br/>
              Passed: {{details_view.test_run.passedTests}} / {{details_view.test_run.totalTests}}<br/>
            </div>
            <div class="testResults">
              <table>
                <thead>
                  <th><h3>Tests</h3></th>
                </thead>
                <tbody>
                  <tr ng-repeat="test in details_view.test_run.details">
                    <td>
                      <span ng-class="test.result">
                        <a href="https://github.com/elhigu/opencl-testsuite/tree/master/tests/{{test.test}}" target="_blank">{{test.test}}</a>
                        <span>{{test.result}}</span>
                      </span>
                      <pre ng-show="test.output.length > 3" class="errorlog">
                        {{test.output}}
                      </pre>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div>
              <h4>Test kernel sources are here:</h4>
              <a href="https://github.com/elhigu/opencl-testsuite/tree/master/tests/kernel" target="_blank">https://github.com/elhigu/opencl-testsuite/tree/master/tests/kernel</a>
            </div>
          </div> 
        </div>
      </div>
    </div>
  </div> <!-- angular app ends -->
</div>

<div class="inner">
<footer>
OpenCL test suite is maintained by <a href="https://github.com/elhigu">Mikael Lepistö</a><br>
This page was generated by <a href="http://pages.github.com">GitHub Pages</a>. Tactile theme by <a href="https://twitter.com/jasonlong">Jason Long</a>.
</footer>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-53163393-1', 'auto');
  ga('send', 'pageview');
</script>

</div>
</body>
</html>
